@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
}

footer {
    padding: 24px 24px 0px 0px;
}

img {
    height: 200px;
}

nav {
    border: black 1px 16px;
}

.main-header {
    border-bottom: 1px solid black;
    background-color: orangered;
    padding: 20px;

}
.taco-photo {
    height: 200px;
    width: 200px;
}

.top-nav{
    color: white;
    margin-left: 10px;
    font-family:'Roboto', sans-serif;
}
#main-title {
    color: aquamarine;
}

footer {
    background-color: rgba(160, 196, 105, 0.902);
    padding: 24px;

}

.main-dish {
    color: green;
    text-decoration: none;
}

#near-foot {
    padding-top: 0px;
}

a {
    color: white;
    text-decoration: none;
}

#main-grid {
    display: grid;
    grid-template-columns: repeat(4,auto);
}

tr:nth-child(even) {
    background-color: rgba(196, 193, 193, 0.861);
}

#primary-name {
    color: rgba(41, 123, 75, 0.828);
}

.first-title {
    color:rgba(41, 123, 75, 0.828) ;
}
